    <aside class="box" id="important">
     <h2 class="footnote">近期活动<br>More Events</h2>
	    <ul>
		    <li>时间：2024年5月25日<br>Time: 25 May 2024</li>
		    <li>地点：上海<br>Location: Shanghai</li>
		    <li><a href="media.html">活动详情</a><br> <a href="media.html">Event page</a></li>
	    </ul>
	   </aside>

<aside class="box" id="supporting">
     <h2 class="footnote">组织与支持单位<br>Organizer & Supporters</h2>
	    <ul>
		    <li>主办：W3C｜北京航空航天大学<br>
		    Hosted by: W3C｜Beihang University</li>
		    <li>承办：哔哩哔哩<br>
		    Organized by: Bilibili</li>
		   <li>协办：Khronos Group、微软 Reactor<br>
		   Co-organized by: Khronos Group, Microsoft Reactor </li>
	    </ul>
 </aside>

 
