    <aside class="box" id="important">
     <h2 class="footnote">时间与地点<br>Dates and Location</h2>
	    <ul>
		    <li>时间：6月19-20日<br>Dates: 19-20 June</li>
		    <li>地点：北京<br> Location: Beijing</li>
	    </ul>
	   </aside>
 <aside class="box" id="support">
        <h2 class="footnote">活动组织 Organizers</h2>
	    <ul>
		    <li>主办单位：<a href="https://www.chinaw3c.org">W3C 中国</a><br>
		        Hosted by: W3C China</li>
		    <li>合办单位：<a href="https://reactor.microsoft.com/zh-cn/reactor/">微软 Reactor</a><br>
		        Co-organized by: Microsoft Reactor</li>
	    </ul>
  </aside>

 <aside class="box" id="livestream">
        <h2 class="footnote">观看直播<br>Live Streamings</h2>
	        <ul>
			<li><a href="https://techtalks.migu.cn/live-room?videoType=live&techId=z20230609160151361001">咪咕科技论坛直播</a>（19-20日）</li>
			<li>微软 Reactor 直播：
				<ul>
					<li><a href="http://live.bilibili.com/21704593">B站</a>（19-20日）</li>
					<li>CSDN（<a href="https://live.csdn.net/room/MicrosoftReactor/YhvzQkcN">19日</a>、<a href="https://live.csdn.net/room/MicrosoftReactor/gOrtDmp6">20日</a>）</li>
					<li>思否（<a href="https://ke.segmentfault.com/course/1650000043885605/section/1500000043885608">19日</a>、<a href="https://ke.segmentfault.com/course/1650000043885605/section/1500000043885609">20日</a>）</li>
				</ul>
			</li>
		</ul>
	 <p>感谢咪咕科技论坛、微软 Reactor 提供直播支持！</p>
  </aside>

 
